.head{
    background-color: #c0c0c0;
    overflow: hidden;
    text-align: right;
}
.head a{
    text-align: right;
    color: #0f87ff;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 20px;
    display:inline-block
}
.head a:hover{
    background-color:orchid;
    color: aqua;
}
.head a.active{
    background-color:rgb(240, 237, 232);

}
.logo{
    color: white;
    float: left;
}
.logo span{
    color: rgb(21, 0, 255);
}
.jam{
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* color:rgb(106, 0, 255) */
}
h2 span{
    color: aqua;
}
.red{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(104, 108, 169);
}
.control{
    display: inline-block;
    padding: 20px 30px;
    color: aquamarine;
    background-color: rgba(101, 65, 192, 0.413);
    border:3px solid rgb(70, 35, 230);
    margin-top: 30px;
    transition: 0.3 ease;
}
.jam{
    background-image: url(red.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top right;
 
    }
.control:hover{
    color: blue;
}
#raptor{
   background:linear-gradient(to right, rgba(13, 152, 216, 0.413), rgba(49, 4, 161, 0.413));
}
.icons{
    font-size: 35px;
    margin-top: 10px;
    margin-left:10px;
    display:flex;
    gap: 13px;
}
.icons #github{
    color:black;
}
.icons #ig{
    color:purple;
}
.icons #snap{
    color: yellow;
}
#apple .gold a{
    text-decoration: none;
    font-size:24px;
}
p{
    font-family: lato ;
}
#apple .gold button{
    border: 3px solid cadetblue;
    border-radius: 30px;
    cursor: pointer;
    background-color: aqua;
    color: white;
}
#apple .gold img{
    image-postiton:top right;
   width: 270px;
   margin-left: 70%;
   margin-top: -14%;
   }
   .Me{
    display:flex;
    gap: 78px;
    font-size: 48px;
    margin-left:460px;
   }
   .stuff h3{
    text-align:center
   }
   .stuff h2{
    text-align:center;
   }
   .stuff .Me #html{
    color: #e90909;
   }
   .stuff .Me #css{
    color: blue;
   }
   .stuff .Me #js{
    color: yellow;
   }
   .stuff .Me #react{
    color: cyan;
   }
