body{ 
    background-color: #FEE4B6;
}
.head{
    background-color: ;
    overflow: hidden;
    text-align: right;
}

.head a{
    text-align: right;
    color: #0f87ff;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 20px;
    display:inline-block
}
.head a:hover{
    background-color:rgba(49, 4, 161, 0.413);
    color: aqua;
}
.head a.active{
    background-color:rgb(240, 237, 232);

}
.logo{
    color: white;
    float: left;
}
.logo span{
    color: #FBC059;
}
#raptor .jam h2{
    color: white;
}
#raptor .jam .red{
    color: white;
    font-family:  "Great Vibes", cursive;
}
.jam{
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* color:rgb(106, 0, 255) */
}
h2 span{
    color: aqua;
}
.red{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(104, 108, 169);
    font-size: 22px;
}
.control{
    display: inline-block;
    padding: 20px 30px;
    color: aquamarine;
    background-color: rgba(101, 65, 192, 0.413);
    border:3px solid rgb(70, 35, 230);
    margin-top: 30px;
    transition: 0.3 ease;
}
.jam{
    background-image: url(red.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top right;
 
    }
.control:hover{
    color: blue;
}
#raptor{
   background:linear-gradient(to right, rgb(255, 236, 173),#F8AD2C);
   border: 3px solid  #FEE4B6;
   border-radius: 400px;
}
.icons{
    font-size: 35px;
    margin-top: 10px;
    margin-left:10px;
    display:flex;
    gap: 13px;
}
.icons #github{
    color:black;
}
.icons #ig{
    color:purple;
}
.icons #snap{
    color: yellow;
}
.gold{
     background:linear-gradient(to right, #FFDEA2,#FFD383);
     border: 3px solid  #FEE4B6;
     border-radius: 4000px;
      padding: 1px 1px 1px 1px;
}
#apple .gold #green{
    margin-left: 160px;
}
#apple .gold p{
    color: white;
    font-size: 22px;
    font-family: "Great Vibes", cursive;
}
#apple .gold a{
    text-decoration: none;
    font-size:24px;
}
p{
    font-family: lato ;
}
#apple .gold button{
    border: 10px solid cadetblue;
    border-radius: 24px;
    cursor: pointer;
    background-color: aqua;
    color: white;
}
#apple .gold img{
    image-postiton:top right;
   width: 320px;
   height: 300px;
   margin-left: 76%;
   margin-top: -14%;
   }
   .Me{
    display:flex;
    gap: 78px;
    font-size: 24px;
    margin-left:19%;
    
   }
   .stuff h3{
    text-align:center
   }
   .stuff h1{
    text-align:center;
   }
   .stuff h6{
    margin-left: 80%;
    margin-top: -3em;
    margin-bottom:-1px;
   }
   .stuff .Me #html{
    color: #e90909;
   }
   .stuff .Me #css{
    color: blue;
   }
   .stuff .Me #js{
    color: yellow;
   }
   .stuff .Me #react{
    color: cyan;
   }
#project h3{
    text-align: center;
}
#project h1{
    text-align: center;
}
.pro{
    width: ;   
   display: flex;
   gap: 3%;     
}
.pro img{
    width: 500px;
    height: 500px;
}
.pro:hover{
    size: 100%;
}
.Au p{
    margin-top: 10px;
    font-size: 22px;
}
.pro .Au{
    box-shadow: 10px 10px 10px black;
    background-color: #ffca7b;
    border-radius: 30px;
    background-size: 1%;
     padding: 40px 40px 40px 40px;
}
.rbx p{
    margin-top: 10px;
    font-size: 22px;
}
.pro .rbx{
     box-shadow: 10px 10px 10px black;
    background-color: #ffca7b;
    border-radius: 30px;
     padding: 40px 40px 40px 40px;
}
.pk p{
    margin-top:10px;
    font-size: 22px;
}
.pro .pk{
     box-shadow: 10px 10px 10px black;
    background-color: #ffca7b;
    border-radius: 30px;
    padding: 40px 40px 40px 40px;
}
#contacts h3{
    text-align: center;
}
#contacts h1{
    text-align: center;
}
#contacts .contact{
   font-size: 22px;
    
}
.footer{
    background-color: #FFDEA2;
    text-align: center;
    font-size: 28px;
    padding: 1px 10px 1px 10px;
    margin-top:150px

}
